.hero {
  width: 100%;
  position: relative;
  padding-top: 1rem;
}

.hero::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: linear-gradient(90deg, #eb29a9, #6366f1, transparent);
  margin-bottom: 1.5rem;
  border-radius: 2px;
}

.quoteList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quoteListItem {
  margin-bottom: 12px;
  margin-top: 12px;
  border-left: 1px solid #2d2c2c;
  list-style-type: none;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.boldLink {
  color: #fcfcfd;
  font-weight: bold;
}

.block {
  margin-bottom: 32px;
}
